
@font-face {
    font-family: 'MyriadPro';
    src: url(./font/MYRIADPRO-REGULAR.woff) format('woff');
    font-display: swap;
    font-weight:400;
}


.title-xxl{
    font-size:$fs-xxl;
    line-height:normal;
    color:$secondary-black;
    @include media-breakpoint(lg){
        font-size:$fs-xl;
    }
 }
 
 .title-xl{
     font-size:$fs-l;
     line-height:normal;
     color:$secondary-black;
 }
 .title-l{
     font-size:$fs-xl ;
     line-height:36px;
     color:$primary-black;
 }
 .title{
     font-size:$fs-md;
     line-height:30px;
     color:$primary-black;
 }
 .text{
     font-size:$fs-sm;
     line-height:26px;
     color:$primary-black;
 
 }