/*colors*/
$primary-black:#333333;
$secondary-black:#414141;
$primary-white:#ffffff;
$primary-blue:#4a90e2;
$primary-grey:#666666;
$secondary-grey:#9b9b9b;
$primary-pink:#cccccc;
/*spacing-size*/
$spacing-md:90px;
$spacing-lg:150px;
$spacing: 8px,16px,24px,32px,40px,48px,56px,64px;
/*font-size*/
$fs-xxl:64px;
$fs-xl:32px;
$fs-l:24px;
$fs-md:20px;
$fs-sm:18px;
