.link-primary{
    font-size:16px;
    color:$primary-white;
}
.link-secondary{
    font-size:$fs-sm;
    color:$primary-blue;
    line-height: 26px;
}
.link-teritary{
    font-size: 12px;
    color:$primary-grey;
    line-height:20px;
}
.link-sm {
    font-size: 14px;
}
