header{
    background-color: $primary-black;
    position: sticky;
    top:0;
    z-index: 3;
}
.logo-img{
    height:24px;
}
.search-icon-img,.bag-icon-img{
    width:16px;
}
.navbar{
    font-size: 0;
    @include media-breakpoint(md){
            position:fixed;
            background-color: $primary-black;
            top:74px;
            right:0;
            width:60%;
            height:100vh;
            z-index:2;
            display: block;
            margin-bottom: 15px;
            transition: 1s; 
            transform: translateX(100%);             
            
    }         
    
}
.display{
    @include media-breakpoint(md){
        transform: translateX(0);
    }
}
.navbar__items{
    display: inline-block;
    @include media-breakpoint(md){
        display: block;
        text-align: center;
        margin-right: 0;
    }
    &--link{
        display: inline-block;
        position: relative;
        padding:4px 0;
        margin-bottom: $spacing-2; 
        &:before{
            content:'';
            position:absolute;
            transition: .5s ease;
            left: 0;
            bottom: 0;   
            width: 0;
            height: 2px;
            background:$primary-blue;
        }
        &:hover:before{
           width:100%;
             
        }
        &:hover{
            cursor:pointer ;
        
        }
    }
    
}
.arrow{
    width:30px;
    display: none;
    @include media-breakpoint(md){
        display: block;

    }
}
.line{
    width:30px;
    height:6px;
    background-color: #FFF;
    margin-bottom: 4px;
}
